body {
    color:#000000;
    font: 14px 'Trebuchet MS',Verdana,Arial;
}
label {
    font-size:16px;
    font-weight:bold;
    text-align:right;
}
input {
    border: 1px solid #BBBBBB;
    border-radius: 0.2em 0.2em 0.2em 0.2em;
    font-size: 16px;
    padding: 3px;
    margin: 1px;
}
a:link, a:visited {
    color: #336699;
    text-decoration: none;
}
a:hover, a:focus, a:active {
    color:#000000;
    text-decoration: underline;
}
.content-item {
    margin-bottom:10px;
}
.highlight {
    font-weight:bold;
    background-color:#DDDDDD;
}
.code {
    font-size:90%;
}
